# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

inference/
inference_results/
# output/

*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea

*.log
.clang-format
.clang_format.hook

build/
dist/
paddleocr.egg-info/
/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/PaddleLite/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/
model
DB_data
DAT
benchmark/v1
benchmark/v2
benchmark/v3
benchmark/X
benchmark/results
deploy/tensorrt/v2
deploy/tensorrt/v3
deploy/tensorrt/X
deploy/tensorrt/valid
deploy/tensorrt/test_plate
deploy/tensorrt/images
deploy/tensorrt/crnn.pytorch
output
images/img
images
deploy/tensorrt/*.jpg